## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## IDE
.vs/
.vscode/
.idea/

## Environment
appsettings.Production.json
appsettings.Development.json
*.env
.env

## OS
.DS_Store
Thumbs.db

## NuGet
*.nupkg
packages/

## User-specific
launchSettings.json
EventSphere.Api/wwwroot/uploads/
